.products {
  padding-top: 130px;

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 70px;

    @include media-breakpoint-down(md) {
      font-size: 46px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 39px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 30px;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    flex-direction: column;
  }

  &__info {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #555555;
    max-width: 714px;

    @include media-breakpoint-down(md) {
      max-width: 60%;
    }

    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }

    @include media-breakpoint-down(xs) {
      max-width: 100%;
      line-height: 28px;
    }
  }

  &__link {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(xs) {
      margin-top: 20px;
    }
  }

  &__go {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #222222;
    margin-right: 12px;

    @include media-breakpoint-down(lg) {
      font-size: 20px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }
  }

  &__box {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(xs) {
      flex-direction: column;
    }
  }

  &__item {
    width: 48%;
    border: 1px solid rgba(104, 90, 82, 0.19);

    @include media-breakpoint-down(xs) {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  &__name {
    margin-top: 20px;
    margin-left: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #222222;

    @include media-breakpoint-down(md) {
      font-size: 30px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 25px;
      text-align: center;
      margin-left: 0px;
    }
  }

  &__desc {
    margin-top: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #555555;
    margin-left: 32px;
    max-width: 516px;

    @include media-breakpoint-down(md) {
      font-size: 18px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 17px;
      margin-left: 10px;
    }
  }

  &__btns {
    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__action {
    margin: 48px 32px 32px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 32px;

    @include media-breakpoint-down(sm) {
      margin-left: 0;
    }
  }

  &__btn {
    padding: 16px 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #402F2C;
    border: 1px solid rgba(104, 90, 82, 0.46);

    &:hover {
      color: #FFFFFF;
      background: #402F2C;
    }

    @include media-breakpoint-down(md) {
      margin-top: 15px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 16px;
      padding: 10px 26px;
    }

    & + & {
      margin-left: 24px;

      @include media-breakpoint-down(md) {
        margin-left: 0;
      }
    }
  }

  &__price {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 32px;
    text-align: right;
    color: #222222;

    @include media-breakpoint-down(lg) {
      font-size: 22px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }
  }

  &__img {
    width: 600px;
  }
}
