.title {
  background: $main-bcg;

  &__wrapper {
    display: flex;
    position: relative;
    width: 100%;
  }

  &__info {
    max-width: 55%;
    z-index: 1;

    @include media-breakpoint-down(md) {
      max-width: unset;
    }

    @include media-breakpoint-down(sm) {
      max-width: unset;
    }
  }

  &__paragraph {
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 70px;

    @include media-breakpoint-down(md) {
      font-size: 46px;
      text-align: center;
    }

    @include media-breakpoint-down(sm) {
      font-size: 39px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 30px;
      line-height: 40px;
    }
  }

  &__desc {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: $text-color-gray;
    margin-top: 30px;
    max-width: 516px;
    text-shadow: 1px 0px 0px $main-bcg;

    @include media-breakpoint-down(md) {
      max-width: unset;
    }

    @include media-breakpoint-down(sm) {
      max-width: unset;
      text-align: center;
    }

    @include media-breakpoint-down(xs) {
      max-width: unset;
      font-size: 18px;
      line-height: 25px;
    }
  }

  &__search {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    max-width: 326px;
    background-color: $white;
  }

  &__icon {
    padding: 10px;
    background-color: $brown;
  }

  &__btn-srch {
    border: none;
    margin-right: 8px;
    background: transparent;
  }

  &__btn {
    margin-top: 60px;
    margin-bottom: 150px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: $white;
    padding: 16px 32px;
    background-color: $brown;
    border: none;

    @include media-breakpoint-down(xs) {
      font-size: 16px;
      padding: 10px 26px;
    }
  }

  &__products {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 800px;
  }

  .tns-controls {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;

    button {
      padding: 10px;
      background-color: $main-bcg;
      border: none;

      &:after {
        font-size: 70px;
        color: $brown;
      }

      &[data-controls="prev"] {
        &::after {
          content: '\2039';
        }
      }
 
      &[data-controls="next"] {
        &::after {
          content: '\203A';
        }
      }
    }
  }

  &__input {
    padding: 15px;
    border: none;
    width: 60%;

    &::placeholder {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #999999;
    }
  }
}
