section.title#home
  .container
    .title__wrapper
      .title__info
        p.title__paragraph Get Your Best Cosmetic Products Here
        p.title__desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
        .title__search
          input.title__input(type="text" placeholder="Search")
          button.title__btn-srch
            img.title__icon(src="images/title.svg" alt="title")
        button.title__btn Shop Now
      .title__box
        img.title__products(src="images/title_prod.jpg" alt="title_prod")
        img.title__arrows(src="images/arrows.png" alt="arrows")