.person {
  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(lg) {
      align-items: center;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__photo {
    @include media-breakpoint-down(lg) {
      max-width: 48%;
    }
  }

  &__info {
    margin-left: 30px;

    @include media-breakpoint-down(lg) {
      max-width: 48%;
    }

    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      align-items: center;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: $text-color-black;
    margin-top: 30px;
    margin-bottom: 15px;

    @include media-breakpoint-down(xs) {
      font-size: 25px;
    }
  }

  &__box {
    position: relative;
  }

  &__review {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: $text-color-gray;
    max-width: 608px;
    margin-top: 46px;

    &::before {
      content: url("../images/person/person2.png");
      position: relative;
      top: -8px;
    }

    &::after {
      content: url("../images/person/person3.png");
      position: relative;
      top: -7px;
    }
  }

  &__icon1 {
    position: absolute;
    top: 0;
    left: -17px;
  }

  &__name {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: $text-color-black;
    margin-top: 80px;

    @include media-breakpoint-down(md) {
      margin-top: 50px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 25px;
    }
  }

  &__prof {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $text-color-gray;
    margin-top: 10px;
  }

  &__slide {
    display: flex;
    margin-top: 22px;
  }

  &__arrow {
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 100px;

    &_gray {
      border-color:  rgba(111, 181, 135, 0.15);
    }

    &_green {
      border-color: #6FB587;
    }
  }

  &__link {
    & + & {
      margin-left: 20px;
    }
  }
}
