section.person
    .container
        .person__wrapper
            img(src="images/person/person.png", alt="person")
            .person__info
                p.person__title Amazing Cosmetic
                img(src="images/person/person1.png", alt="stars")
                .person__box
                    p.person__review Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                    img.person__icon1(src="images/person/person2.png", alt="symbol")
                    img.person__icon2(src="images/person/person3.png", alt="symbol")
                p.person__name Rusmin Islam
                p.person__prof Designer
                .person__slide
                    a.person__link(href="#") 
                        img.person__arrow1(src="images/person/person4.png", alt="arrow")
                    a.person__link(href="#") 
                        img.person__arrow2(src="images/person/person5.png", alt="arrow")
