footer.footer
  .container
    .footer__wrapper
      .footer__box
        img(src="images/footer/contacts1.png", alt="logo")
        p.footer__desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
      .footer__links
        p.footer__title Quick Link
        a.footer__link(href="#") Home
        a.footer__link(href="#") Products
        a.footer__link(href="#") About Us
      .footer__contacts
        p.footer__title Contact Us
        p.footer__link oyasimnaeem@email.com
        p.footer__link +123456789
        .footer__social
          a(href="#") 
            img(src="images/footer/social1.svg", alt="fb")
          a(href="#") 
            img(src="images/footer/social2.svg", alt="tw")
          a(href="#") 
            img(src="images/footer/social3.svg", alt="inst")
