include /src/common/components/layout

+layout('Home page')
  include sections/title/title
  include sections/sponsors/sponsors
  include sections/products/products
  include sections/indicators/indicators
  include sections/cosmetic/cosmetic
  include sections/person/person
  include sections/subscribe/subscribe