section.indicators
  .container
    .indicators__row
      .indicators__item
        p.indicators__title 100%
        hr.indicators__line
        p.indicators__desc Organic Products
      .indicators__item
        p.indicators__title 2M+
        hr.indicators__line
        p.indicators__desc Yearly Sales
      .indicators__item
        p.indicators__title 1.9M+
        hr.indicators__line
        p.indicators__desc Happy Customar