section.subscribe#contact-us
  .container
    .subscribe__wrapper
      p.subscribe__title Subscribe to Get Our Letest News
      .subscribe__box
        input.subscribe__input(type="text" placeholder="Enter email")
        button.subscribe__btn Subscribe
    hr