.subscribe {
  background: #FAFAFA;

  &__wrapper {
    display: flex;
    padding-top: 108px;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    color: $text-color-black;
    padding-bottom: 64px;

    @include media-breakpoint-down(lg) {
      font-size: 30px;
    }

    @include media-breakpoint-down(md) {
      font-size: 25px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 25px;
      margin-bottom: -30px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 23px;
      text-align: center;
    }
  }

  &__box {
    width: 386px;
    padding: 8px;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 59px;

    @include media-breakpoint-down(md) {
      width: 300px;
    }
  }

  &__btn {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $white;
    padding: 10px 20px;
    background: $brown;
    border: none;

    @include media-breakpoint-down(md) {
      padding: 8px 18px;
    }
  }

  &__input {
    padding-left: 10px;
  }
}
