section.sponsors
    .container
        hr
        .sponsors__box
            img(src="images/sponsors/sponsors1.svg", alt="logo1")
            img(src="images/sponsors/sponsors2.svg", alt="logo2")
            img(src="images/sponsors/sponsors3.svg", alt="logo3")
            img(src="images/sponsors/sponsors4.svg", alt="logo4")
            img(src="images/sponsors/sponsors5.svg", alt="logo5")
            img(src="images/sponsors/sponsors6.svg", alt="logo6")
        hr