.sponsors {
    padding-top: 130px;
    &__box {
        display: flex;
        justify-content: space-between;
        margin-top: 42px;
        margin-bottom: 48px;
    }
}
hr {
    border: 1px solid #EEEEEE
}